.main-layout {
  overflow-y: auto;
  height: 100vh;
  background: rgb(255,146,46);
  background: radial-gradient(circle, rgba(255,146,46,1) 10%, rgba(205,205,205,1) 100%);
  .main-layout__body {
    position: relative;
    height: 100vh;
    h1 {
      padding-top: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}
