@import "utils/veriables";

.login-wrap {
  height: 100%;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .login {
    &__form {
    border-radius: 5px;
    background: white;
    width: 520px;
    height: 580px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

      &-logo {
        margin: 70px 0 70px 0;
        display: flex;
        justify-content: center;

        &-img {
          width: 344px;
          height: 68px;
        }
      }

      .field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        padding-bottom: 5px;

        input {
          width: 285px;
          height: 50px;
          padding-left: 19px;
          font-weight: 600;
          font-size: 14px;
          line-height: 19px;
          font-family: "Open Sans", sans-serif;
          border: 1px solid #cdcdcd;

          &::placeholder {
            color: $color-black;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
          }

          &:focus {
            border: 1px solid $color-orange;
          }

        }
      }

      .ui.button {
        width: 179px;
        margin: 0 0 14px 0;
        background-color: $color-orange;
        color: $color-white;
        height: 40px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        border-radius: 5px;
        border: none;
        font-size: 15px;
        cursor: pointer;
      }

      .ui.button:hover {
        opacity: 0.7;
      }
  }

    &__title {
      font-weight: 600;
      font-size: 20px;
      text-align: center;
      margin-bottom: 28px;
      color: $color-orange;
      line-height: 27px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
    }
  }
}

