@import "utils/veriables";

.sort {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  &__body{
    display: flex;
    padding: 10px;
    border-radius: 4px;
    font-weight: 700;
    user-select: none;
    opacity: 0.9;
    &-title {
      white-space: nowrap;
      margin-right: 15px;
    }

    &__select {

      width: fit-content!important;
    }
  }
}
