$font-main: 'Open Sans', sans-serif;

$color-white: #fff;
$color-black: rgb(52, 58, 64);
$color-deep-black: #000;
$color-yellow: rgb(232, 166, 53);
$color-orange: rgb(255, 146, 46);
$color-grey-2: #7e7e7e;
$color-grey: #7e7e7e;
$color-light-grey: rgb(245, 245, 245);
$color-light-grey-1: rgba(0, 0, 0, 0.05);
$color-light: #f2f2f2;
$color-light-2: #f3f3f3;
$color-light-3: #e9e9e9;
$color-red: #E12C31;
$color-pink: #DC205D;
$color-selected: #e6194b;
$color-non-selected: #5299cd;
$color-border-grey: #cdcdcd;
$color-silver: #cdcdcd;
$color-silver-header: #f2f2f2;
$color-light-blue: #e2ffda;
$color-green: #4eb364;
$color-light-green: #e2ffda;
$color-light-blue-2: #57c5f7;
$color-light-blue-3: #96dbfa;
$color-light-blue: #3e7992;
$color-blue: #5299cd;
$color-dark-blue: #2f3541;
$color-light-blue: #e5f0f7;
$color-dark-blue-background: #3a536b;
$color-required: #4fb9af;
$color-dark-font: #4b4b4b;
$color-blue-dark-font: #3b536b;
$color-grey-label: #e1e1e1;

//error
$color-error-background: #fff6f6;
$color-error-border: #e0b4b4;
$color-error-color: #9f3a38;

//new colors
$color-purple: #986098;