@import "utils/veriables";

.user-app {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;

  h2 {
    text-align: center;
    margin: 20px;
  }

  &__no-viable-content {
    width: 100%;
    text-align: center;
    padding: 15px;
    font-size: 20px;
  };

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-header {
      user-select: none;
      width: 100%;
      padding: 10px;
      background: $color-white;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      h3 {
        margin: 20px 0 0 0;
        height: 40px;
        font-size: 20px;

        &:hover {
          cursor: pointer;
          color: $color-orange;
        }
        &.active {
          color: $color-orange;
          &:after {
            content: '';
            display: inline-block;
            border-bottom: 6px solid $color-orange;
            width: 100%;
            margin-top: 20px;
          }
        }
      }
    }

    &-body {
      width: 80%;
      margin-top: 35px;
      &-header {
        user-select: none;
        font-size: 20px;
        width: 100%;
        min-height: 50px;
        margin-bottom: 10px;
        padding: 10px;
        background: $color-white;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        &-title {
          display: flex;
          h3 {
            font-size: 20px;
          }
        }
      }
      &-main {
        border-radius: 4px;
        max-height: 660px;
        overflow-y: scroll;
        background: $color-white;
      }
      .total-number-of-block {
        height: 25px;
        background: $color-orange;
        font-size: 14px;
        padding: 3px 15px;
        border-radius: 5px;
        margin: 0 10px;
        color: $color-white;
      }
    }

    &-actionbar {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;
    };

    &-search {
      display: flex;
      align-content: center;
      position: relative;
      &-input {
        width: 400px!important;
        height: 40px;
        input {
          &:focus {
            border-color: $color-orange!important;
          }
        }
      }
      &-btn {
        margin-left: 20px!important;
        margin-right: 20px!important;
      }
      &-modal {
        position: absolute;
        width: 400px;
        max-height: 400px;
        background: $color-white;
        border: 1px solid $color-orange;
        border-radius: 4px;
        top: 40px;
        overflow-y: scroll;
        &-user {
          padding: 10px;

          &:hover {
            opacity: 0.8;
            background: $color-orange;
          }
        }
      }
    }
  }
  .sub-content-titles {
    display: flex;
    height: 100%;
    user-select: none;
    flex-wrap: wrap;
    margin-bottom: 20px;
    &-wrapper {
      display: flex;
      margin: 10px;
    }
    span{
      margin: 5px;
      &:hover {
        cursor: pointer;
      }
    }
    &-active {
      position: relative;
      color: $color-orange;
      &:after {
        position: absolute;
        right: 1px;
        top: 36px;
        content: '';
        display: inline-block;
        border-bottom: 6px solid $color-orange;
        width: 100%;
      }
    }
  }
}
