@import "utils/veriables";

.user-app-content {

  &__moderators {
    display: flex;
    justify-content: space-between;
    &-names {
      border: none!important;
    }
  }
  &__title{
    display: flex;
    justify-content: space-between;
    &-btn button {
      width: 170px;
    }
  }
  &__topUsers {
    display: flex;
    justify-content: space-between;
    &-names {
      border: none!important;
    }
  }
  &__serviceBots {
    .accordion.ui.fluid.styled {
      box-shadow: none!important;
    }
    display: flex;
    justify-content: space-between;
    &-names {
      border: none!important;
    }
  }
}
