@import "utils/veriables";

.modal-moderator {
  &__button {
    display: flex;
    justify-content: flex-end;

    button {
      width: 120px;
    }
  }

  &__content {
    &-form {
      .ui.form .field {
        .ui.selection.dropdown {
          height: 50px;
          .default.text {
            font-size: 14px;
            line-height: 19px;
          }
          .menu {
            border: 1px solid $color-orange !important;
            border-top: none!important;
          }
          &:focus {
            border: 1px solid $color-orange !important;
          }
        }
        label {
          font-size: 14px;
          line-height: 19px;
          font-family: "Open Sans", sans-serif;
        }
        .ui.input {
          input {
            width: 285px;
            height: 50px;
            padding-left: 19px;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            font-family: "Open Sans", sans-serif;
            border: 1px solid #cdcdcd;
            &::placeholder {
              font-size: 14px;
              line-height: 19px;
            }
            &:focus {
              border: 1px solid $color-orange !important;
            }
          }
        }
      }
    }
  }
}
